# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
.env

# Build and dist
.dist/
build/
dist/

# IDE/editor
.vscode/
.DS_Store

# Cache and logs
pulse_cache.sqlite
*.log

# Notebooks
.ipynb_checkpoints/

# Docker
*.dockerignore

# OS
Thumbs.db

# Samples and generated
samples/*.json
